<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Especial</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="meta desc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/general/ico/favicon.ico" />
  <meta property="og:title" content="base" />
  <meta property="og:description" content="base" />
  <meta property="og:image" content="base" />
  <meta property="og:url" content="base" />
  <meta name="twitter:card" content="base" />
  <meta name="twitter:site" content="base" />
  <meta name="twitter:title" content="base" />
  <meta name="twitter:image" content="base" />
  <meta name="twitter:url" content="base" />
  <meta name="apple-mobile-web-app-title" content="base" />
  <meta name="application-name" content="base" />
  <meta name="theme-color" content="base" />
  <link rel="stylesheet" href="https://files.metropoles.com/site/dist/main.6cb855c4.css" />
</head>

<body>
  <main class="base-main">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Basic&family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="assets/stylesheets/base.css" />

    <div class="abre">
      <div class="abre-content">
        <img src="assets/images/general/bkg/title.png" alt="">
        <h1 class="mt-30">13 de Maio de 2026 <span>|</span> 14h às 18h</h1>
        <p>Local: Ulysses Centro de Convenções — Brasília/DF</p>
      </div>
    </div>
    <div class="content">
      <div class="realizacao">
        <img src="assets/images/general/bkg/reali.png" alt="">
      </div>
      <div class="content-text">
        <p> A nova era dos veículos já começou — agora é elétrica, híbrida e conectada. O Brasil vive uma virada
          histórica
          impulsionada por inovação, novas regulações e mudanças no comportamento do consumidor, com impactos diretos na
          indústria, na economia e nas cidades. Diante desse cenário, o Metrópoles apresenta o projeto “Nova Era dos
          Veículos”, reunindo lideranças do setor público e privado para aprofundar e qualificar o debate sobre os
          caminhos da mobilidade no país.</p>
      </div>
      <button class="content-buttom">
        Inscreva-se gratuitamente
      </button>
      <h2>O setor em números</h2>
      <div class="content-number stats mt-30">
        <div class="container-number">
          <h1> <span class="contador" data-target="20" data-suffix="%">0%</span> do PIB industrial</h1>
          <p>participação do setor automotivo</p>
        </div>
        <div class="container-number">
          <h1>+<span class="contador" data-target="40" data-suffix="%">0%</span></h1>
          <p>crescimento vs. 2024</p>
        </div>
        <div class="container-number">
          <h1><span class="contador" data-target="16" data-suffix="">0</span>mil+</h1>
          <p>pontos de recarga públicos e semipúblicos</p>
        </div>
        <div class="container-number">
          <h1><span class="contador" data-target="226" data-suffix="">0</span>mil</h1>
          <p>veículos eletrificados vendidos em 2025</p>
        </div>
        <div class="container-number">
          <h1><span class="contador" data-target="10" data-suffix="%">0%</span></h1>
          <p>do mercado nacional já é eletrificado</p>
        </div>
        <div class="container-number">
          <h1>+<span class="contador" data-target="50" data-suffix="%">0%</span>/ano</h1>
          <p>crescimento da recarga rápida</p>
        </div>
        <div class="container-number">
          <h1>+<span class="contador" data-target="35" data-suffix="">0</span> milhões</h1>
          <p>de motocicletas em circulação
            no Brasil</p>
        </div>
      </div>
      <div class="video_bg">
        <h2 class="mb-20">Presencial e online com transmissão <span>ao vivo</span></h2>
        <div class="video-player video-player--1260 ">
          <iframe src="https://www.youtube.com/embed/oyMNsfaWYNE?si=gMAe_gNUT8WtdrGs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <h1 class="text-talk">Talk com <br><span>especialistas</span></h1>

    </div>
    <div class="painel1">
      <div class="text-painel1">
        <h1>PAINEL 1</h1>
        <h2>Mobilidade, neoindustrialização e a consolidação do futuro brasileiro</h2>
        <p>Como a política industrial está reposicionando o Brasil na nova era da mobilidade e da inovação.
        </p>
      </div>
      <div class="bio-painel">
        <div class="painel">
          <img src="" alt="">
          <h1>Marcus Cavalcanti </h1>
          <p>Secretário Especial do PPI da Casa Civil</p>
          <button><img src="" alt=""></button>
        </div>
      </div>

    </div>

    <!-- <div class="preloader-active">
        <div class="preloader-box">
          <img
            src="assets/images/animacoes/gif/preloader.gif"
            alt="Preloader"
          />
        </div>
      </div> -->
    <!-- VÍDEO MP4 LOCAL -->
    <!-- <div class="margin-top-40 mobile-margin-top-20">
        <div class="highlight-credits">
          <span>Breno Esaki / Metrópoles</span>
        </div>
        <div class="box-video">
          <video
            class="box-video__video box-video--desktop"
            preload="true"
            autoplay
            loop
            muted
            playsinline
          >
            <source
              src="assets/videos/video_1920_001.mp4#t=0.001"
              type="video/mp4"
            />
          </video>
          <video
            class="box-video__video box-video--mobile"
            preload="true"
            autoplay
            loop
            muted
            playsinline
          >
            <source
              src="assets/videos/video_1920_mobile_001.mp4#t=0.001"
              type="video/mp4"
            />
          </video>
        </div>
        <span class="highlight-description"
          >Trecho interrompido na BR-226: caminhões fazem fila para cruzar o rio
          que separa o Tocantis do Maranhão</span
        >
      </div> -->

    <!-- IMAGEM LAZY LOAD -->
    <!-- <img
          class="box-ancora__imagem--mobile lazy"
          data-src="assets/images/general/bkg/imagem_full_mobile_000.webp"
          data-srcset="assets/images/general/bkg/imagem_full_mobile_000@2x.webp 2x"
          alt="Imagem de um rio"
        /> -->

    <!-- ESTRUTURA COMPLETA DE IMAGEM COM CRÉDITO E DESCRIÇÃO -->
    <!-- <div class="margin-top-40 mobile-margin-top-20">
            <div class="highlight-credits--960">
              <span>Breno Esaki / Metrópoles</span>
            </div>
            <img
              class="highlight-image--960 lazy"
              data-src="https://files.metroimg.com/static/especiais/pe-pontes-brasil2/assets/images/general/bkg/conteudo_960_002.webp"
              data-srcset="https://files.metroimg.com/static/especiais/pe-pontes-brasil2/assets/images/general/bkg/conteudo_960_002@2x.webp 2x"
              alt="Imagem"
            />
            <span class="highlight-description--960"
              >Rosângela Nascimento com a filha Diane: por meses, a família
              repetiu a rotina de esperar por notícias de João à beira do Rio
              Curuçá</span
            >
    
          </div> -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
    <script src="assets/javascripts/lazyload.js"></script>
    <script src="assets/javascripts/base.js"></script>
    <script async src="//www.instagram.com/embed.js"></script>
  </main>
</body>

</html>