<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Especial</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="meta desc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/general/ico/favicon.ico" />
  <meta property="og:title" content="base" />
  <meta property="og:description" content="base" />
  <meta property="og:image" content="base" />
  <meta property="og:url" content="base" />
  <meta name="twitter:card" content="base" />
  <meta name="twitter:site" content="base" />
  <meta name="twitter:title" content="base" />
  <meta name="twitter:image" content="base" />
  <meta name="twitter:url" content="base" />
  <meta name="apple-mobile-web-app-title" content="base" />
  <meta name="application-name" content="base" />
  <meta name="theme-color" content="base" />
  <link rel="stylesheet" href="https://files.metropoles.com/site/dist/main.6cb855c4.css" />
</head>

<body>
  <main class="base-main">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Basic&family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="assets/stylesheets/base.css" />

    <div class="abre">
      <div class="abre-bg">
        <div class="abre-content">
          <img src="assets/images/general/bkg/title.png" alt="">
          <h1 class="mt-30">13 de Maio de 2026 <span>|</span> 14h às 18h</h1>
          <p>Local: Ulysses Centro de Convenções — Brasília/DF</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="realizacao2">
        <img src="assets/images/general/bkg/reali.png" alt="">
      </div>
      <div class="content-text">
        <p> A nova era dos veículos já começou — agora é elétrica, híbrida e conectada. O Brasil vive uma virada
          histórica
          impulsionada por inovação, novas regulações e mudanças no comportamento do consumidor, com impactos diretos na
          indústria, na economia e nas cidades. Diante desse cenário, o Metrópoles apresenta o projeto “Nova Era dos
          Veículos”, reunindo lideranças do setor público e privado para aprofundar e qualificar o debate sobre os
          caminhos da mobilidade no país.</p>
      </div>
      <div class="incricao">
        <a href="https://appapi.botfy.app.br/metropoles"><img src="assets/images/general/bkg/inscreva.png" alt=""></a>
      </div>
      <h2>O setor em números</h2>
      <div class="content-number stats mt-30">
        <div class="container-number">
          <h1> <span class="contador" data-target="20" data-suffix="%">0%</span> do PIB industrial</h1>
          <p>participação do setor automotivo</p>
        </div>
        <div class="container-number  ">
          <h1>+<span class="contador" data-target="40" data-suffix="%">0%</span></h1>
          <p>crescimento vs. 2024</p>
        </div>
        <div class="container-number">
          <h1><span class="contador" data-target="16" data-suffix="">0</span>mil+</h1>
          <p>pontos de recarga públicos e semipúblicos</p>
        </div>
        <div class="container-number">
          <h1><span class="contador" data-target="226" data-suffix="">0</span>mil</h1>
          <p>veículos eletrificados vendidos em 2025</p>
        </div>
        <div class="container-number">
          <h1><span class="contador" data-target="10" data-suffix="%">0%</span></h1>
          <p>do mercado nacional já é eletrificado</p>
        </div>
        <div class="container-number">
          <h1>+<span class="contador" data-target="50" data-suffix="%">0%</span>/ano</h1>
          <p>crescimento da recarga rápida</p>
        </div>
        <div class="container-number">
          <h1>+<span class="contador" data-target="35" data-suffix="">0</span> milhões</h1>
          <p>de motocicletas em circulação
            no Brasil</p>
        </div>
      </div>
      <div class="video_bg">
        <h2 class="mb-20">Presencial e online com transmissão <span>ao vivo</span></h2>
        <div class="video-player video-player--1260 ">
          <iframe src="https://www.youtube.com/embed/oyMNsfaWYNE?si=gMAe_gNUT8WtdrGs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <h1 class="text-talk">Talk com <br><span>especialistas</span></h1>
      <div class="painel1" style="bottom: -50px;">
        <div class="text-painel1">
          <h1>PAINEL 1</h1>
          <h2>Mobilidade, neoindustrialização e a consolidação do futuro brasileiro</h2>
          <p>Como a política industrial está reposicionando o Brasil na nova era da mobilidade e da inovação.
          </p>
        </div>
        <div class="bio-painel">
          <div class="painel" data-nome="Marcus Cavalcanti" data-cargo="Secretário Especial do PPI da Casa Civil"
            data-desc="Especialista em Políticas Públicas e Gestão Governamental, gestor público concursado e funcionário de carreira, ingressou na vida pública em 1979. Em janeiro de 2023, assumiu o cargo de Secretário Especial do Programa de Parcerias de Investimentos da Casa Civil da Presidência da República (SEPPI/CC/PR). Entre 2014 e 2022, foi Secretário de Infraestrutura do Estado da Bahia (SEINFRA), além de ter atuado como Superintendente de Transportes no estado e como Diretor-Geral em diversos órgãos de infraestrutura. Ao longo de sua trajetória, desempenhou funções em diferentes órgãos da administração pública baiana, integrou diversos conselhos e ocupou cargos de gerência, consolidando ampla experiência na gestão pública e na área de infraestrutura."
            data-img="assets/images/general/bkg/marcus.png">

            <img src="assets/images/general/bkg/marcus.png" alt="">
            <h1 class="">Marcus Cavalcanti</h1>
            <p>Secretário Especial do PPI da Casa Civil</p>
            <button class="open-modal"><img src="assets/images/general/bkg/bio.png" alt=""></button>
          </div>
          <div class="painel" data-nome="Alexandre Baldy" data-cargo="Vice-presidente sênior da BYD"
            data-desc="Graduado em Direito pela PUC. Empreendedor e industrial. Presidente do Partido Progressistas em Goiás. Ex-Secretário de Transportes Metropolitanos de São Paulo. Ex-Ministro de Estado das Cidades. Ex-Secretário de Estado de Indústria e Comércio e Presidente Nacional do Conselho de Secretários de Desenvolvimento. Ex-Deputado Federal por Goiás."
            data-img="assets/images/general/bkg/alexandre.png">

            <img src="assets/images/general/bkg/alexandre.png" alt="">
            <h1>Alexandre Baldy</h1>
            <p>Vice-presidente sênior da BYD</p>
            <button class="open-modal"><img src="assets/images/general/bkg/bio.png" alt=""></button>
          </div>
        </div>

        <!-- MODAL -->
        <div class="modal" id="modal">
          <div class="modal-content">

            <button class="close">×</button>

            <div class="modal-left">
              <img id="modal-img">
            </div>

            <div class="modal-right">
              <h1 id="modal-nome"></h1>
              <h2 id="modal-cargo"></h2>
              <p id="modal-desc"></p>

            </div>

          </div>
        </div>

      </div>
      <div class="painel2">
        <div class="text-painel2">
          <h1>PAINEL 2</h1>
          <h2>A expansão logística da eletrificação de frotas no Brasil</h2>
          <p>Os caminhos para viabilizar a infraestrutura e sustentar o crescimento da mobilidade elétrica no país.
          </p>
        </div>
        <div class="bio-painel" style="margin-bottom: 100px;">
          <div class="painel destaque-painel" data-nome="Davi Bertoncello" data-cargo="CEO da Tupi Mobilidade"
            data-desc="Davi Bertoncello é um dos principais nomes da mobilidade elétrica no Brasil. Fundador e diretor executivo da Tupi Mobilidade, plataforma líder em recarga rápida de veículos elétricos, atua no setor desde 2016 e em iniciativas de sustentabilidade desde 2012. É Embaixador da Mobilidade no Estadão e referência em infraestrutura de recarga, transição energética e inovação no transporte.<br><br>Vice-presidente de Comunicação e Marketing da ABVE desde 2024, foi reeleito em abril de 2026 para mais dois anos à frente da pasta, consolidando seu papel ativo na construção do ecossistema brasileiro de eletromobilidade."
            data-img="assets/images/general/bkg/davi.png">

            <img src="assets/images/general/bkg/davi.png" alt="">
            <h1 class="">Davi Bertoncello</h1>
            <p>CEO da Tupi Mobilidade</p>
            <button class="open-modal"><img src="assets/images/general/bkg/bio.png" alt=""></button>
          </div>
          <div class="painel destaque-painel" data-nome="Gustavo Pamplona" data-cargo="Gerente de expansão da DVA"
            data-desc="Gustavo Pamplona lidera a expansão estratégica e a infraestrutura da rede de concessionárias do Grupo DVA. Administrador com especialização em Gestão de Operações e Logística, possui vasta experiência no desenvolvimento de grandes empreendimentos voltados ao mercado automotivo, unindo visão operacional e eficiência logística."
            data-img="assets/images/general/bkg/gustavo.png">

            <img src="assets/images/general/bkg/gustavo.png" alt="">
            <h1 class="">Gustavo Pamplona</h1>
            <p>Gerente de expansão da DVA</p>
            <button class="open-modal"><img src="assets/images/general/bkg/bio.png" alt=""></button>
          </div>
          <div class="painel destaque-painel" data-nome="Grace Kelly Ganharul"
            data-cargo="Especialista em eletrificação veicular do SENAI-SP"
            data-desc="Grace Kelly Ganharul é especialista em eletrificação veicular, com atuação nacional e internacional pelo SENAI-SP. Doutora em Nanociências e Materiais Avançados e mestre em Engenharia Mecânica, possui mais de 25 anos de experiência na indústria automotiva, com foco em desenvolvimento de produto e segurança veicular. Atua na formação de profissionais e no desenvolvimento de projetos estratégicos em mobilidade elétrica."
            data-img="assets/images/general/bkg/grace.png">

            <img src="assets/images/general/bkg/grace.png" alt="">
            <h1 class="">Grace Kelly Ganharul</h1>
            <p>Especialista em eletrificação veicular do SENAI-SP</p>
            <button class="open-modal"><img src="assets/images/general/bkg/bio.png" alt=""></button>
          </div>


        </div>

      </div>
      <div class="painel1" style="top: -50px;">
        <div class="text-painel1">
          <h1>PAINEL 1</h1>
          <h2>Mobilidade, neoindustrialização e a consolidação do futuro brasileiro</h2>
          <p>Como a política industrial está reposicionando o Brasil na nova era da mobilidade e da inovação.
          </p>
        </div>
        <div class="bio-painel">
          <div class="painel" data-nome="Clarisse Cunha Linke"
            data-cargo="Diretora-executiva do Instituto de Políticas de Transporte e Desenvolvimento (ITDP)"
            data-desc="Clarisse Cunha Linke é Diretora-Executiva do ITDP Brasil (Instituto de Políticas de Transporte e Desenvolvimento), onde atua desde 2012. Mestre pela London School of Economics (LSE) e doutoranda em Arquitetura e Urbanismo pela UFF, tem mais de 20 anos de experiência em políticas públicas, mobilidade urbana e desenvolvimento sustentável, com atuação no Brasil e no exterior.<br><br>Integra o Conselho do Futuro da Mobilidade do Fórum Econômico Mundial e já foi reconhecida internacionalmente por sua contribuição para o desenvolvimento de soluções de transporte mais inclusivas e sustentáveis."
            data-img="assets/images/general/bkg/clarisse.png">

            <img src="assets/images/general/bkg/clarisse.png" alt="">
            <h1 class="">Clarisse Cunha Linke</h1>
            <p>Diretora-executiva do Instituto de Políticas de Transporte e Desenvolvimento (ITDP)</p>
            <button class="open-modal"><img src="assets/images/general/bkg/bio.png" alt=""></button>
          </div>
        </div>

      </div>
    </div>
    <div class="notícias">
      <h1 class="news">Notícias</h1>
      <div class="noticias">
        <div class="noticias-grid" id="noticias"></div>

        <a href="https://www.metropoles.com/tag/comece-investindo" class="btn-veja-mais" target="_blank">
          Veja mais
        </a>
      </div>
      <div class="inova">
        <img src="assets/images/general/bkg/inova.png" alt="">
      </div>
      <div class="text-inova">
        <div class="inova-content">
          <p>O evento acontece dentro do <span>Innova Summit</span>, uma das principais conferências de inovação e
            tecnologia da América Latina.</p>
          <p>A iniciativa reúne líderes, empresas e especialistas para discutir soluções que impulsionam o
            desenvolvimento econômico, tecnológico e social do país.</p>
        </div>
        <div class="inova-logo">
          <img src="assets/images/general/bkg/inovalogo.png" alt="">
        </div>
      </div>
      <div class="mapa">
        <h1>Anote na <span>agenda</span></h1>
        <div class="info-mapa">
          <div class="mme-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122832.57543010531!2d-48.09313638903761!3d-15.829350329688824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3af497d1a31b%3A0x25333616a03d2777!2sCentro%20de%20Conven%C3%A7%C3%B5es%20Ulysses%20Guimar%C3%A3es!5e0!3m2!1spt-BR!2sbr!4v1748352312487!5m2!1spt-BR!2sbr"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="mme-info">
            <p><strong>Evento: </strong>NOVA ERA dos Veículos</p>
            <p><strong>Data: </strong>13 de maio de 2026</p>
            <p><strong>Horário: </strong>14h às 18h</p>
            <p><strong>Local: </strong>Ulysses Centro de Convenções SHS Quadra 5, Lote 1, Asa Sul - Brasília, DF</p>
            <div class="mme-free">
              <h1>Gratuito | Vagas limitadas</h1>
              <a href="https://appapi.botfy.app.br/metropoles">Inscreva-se</a>
            </div>
          </div>
        </div>
        <div class="googel">
          <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=NOVA%20ERA%20dos%20Ve%C3%ADculos&dates=20260513T170000Z/20260513T210000Z&details=Evento%20sobre%20mobilidade%20e%20inova%C3%A7%C3%A3o&location=Ulysses%20Centro%20de%20Conven%C3%A7%C3%B5es%20SHS%20Quadra%205%20Lote%201%20Asa%20Sul%20Bras%C3%ADlia%20DF"
            target="_blank" class="btn-agenda"><img class="google-desktop" src="assets/images/general/bkg/google.png"
              alt=""> <img class="googel-mobile" src="assets/images/general/bkg/google-branco.png" alt=""></a>
        </div>
      </div>
    </div>
    <section class="expediente mb-50 pb-50">
      <div class="patro">
        <div class="realizacao">
          <h1>Realização:</h1>
          <img src="assets/images/general/bkg/metro.png" alt="">
        </div>
        <div class="oferecimento">
          <h1>Oferecimento:</h1>
          <img src="assets/images/general/bkg/byd.png" alt="">
        </div>
      </div>
      <h1 class="expediente1">Expediente</h1>
      <div class="box-credits " style="margin-top: 50px;">
        <strong>CEO</strong>
        <span>Lilian Tahan</span>

        <strong>Coordenação</strong>
        <span>Fernando Braga</span>
        <span>Gabriela Prado</span>

        <strong>Produção</strong>
        <span>Cibele Moreira</span>
        <span>Edward Vieira</span>
        <span>Yngrid Duarte</span>

        <strong>EDIÇÃO</strong>
        <span>Renaro Cardozo</span>
        <span>Sarah Campo Dall'Orto</span>

        <strong>Revisão de textos</strong>
        <span>Geisiane Sousa</span>

        <strong>DIREÇÃO DE ARTE</strong>
        <span>Lucas Jonathan</span>

        <strong>TECNOLOGIA</strong>
        <span>Italo Ridney</span>
        <span>Saulo Marques</span>
        <span>Caio Sales</span>
      </div>
    </section>


    <!-- <div class="preloader-active">
        <div class="preloader-box">
          <img
            src="assets/images/animacoes/gif/preloader.gif"
            alt="Preloader"
          />
        </div>
      </div> -->
    <!-- VÍDEO MP4 LOCAL -->
    <!-- <div class="margin-top-40 mobile-margin-top-20">
        <div class="highlight-credits">
          <span>Breno Esaki / Metrópoles</span>
        </div>
        <div class="box-video">
          <video
            class="box-video__video box-video--desktop"
            preload="true"
            autoplay
            loop
            muted
            playsinline
          >
            <source
              src="assets/videos/video_1920_001.mp4#t=0.001"
              type="video/mp4"
            />
          </video>
          <video
            class="box-video__video box-video--mobile"
            preload="true"
            autoplay
            loop
            muted
            playsinline
          >
            <source
              src="assets/videos/video_1920_mobile_001.mp4#t=0.001"
              type="video/mp4"
            />
          </video>
        </div>
        <span class="highlight-description"
          >Trecho interrompido na BR-226: caminhões fazem fila para cruzar o rio
          que separa o Tocantis do Maranhão</span
        >
      </div> -->

    <!-- IMAGEM LAZY LOAD -->
    <!-- <img
          class="box-ancora__imagem--mobile lazy"
          data-src="assets/images/general/bkg/imagem_full_mobile_000.webp"
          data-srcset="assets/images/general/bkg/imagem_full_mobile_000@2x.webp 2x"
          alt="Imagem de um rio"
        /> -->

    <!-- ESTRUTURA COMPLETA DE IMAGEM COM CRÉDITO E DESCRIÇÃO -->
    <!-- <div class="margin-top-40 mobile-margin-top-20">
            <div class="highlight-credits--960">
              <span>Breno Esaki / Metrópoles</span>
            </div>
            <img
              class="highlight-image--960 lazy"
              data-src="https://files.metroimg.com/static/especiais/pe-pontes-brasil2/assets/images/general/bkg/conteudo_960_002.webp"
              data-srcset="https://files.metroimg.com/static/especiais/pe-pontes-brasil2/assets/images/general/bkg/conteudo_960_002@2x.webp 2x"
              alt="Imagem"
            />
            <span class="highlight-description--960"
              >Rosângela Nascimento com a filha Diane: por meses, a família
              repetiu a rotina de esperar por notícias de João à beira do Rio
              Curuçá</span
            >
    
          </div> -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
    <script src="assets/javascripts/lazyload.js"></script>
    <script src="assets/javascripts/base.js"></script>
    <script async src="//www.instagram.com/embed.js"></script>
  </main>
</body>

</html>